@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,400,700);* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  transition: .5s; }

.login.active ~ .container {
  filter: blur(10px); }

.chat {
  flex: 1;
  background: #fff; }
  .chat__box {
    display: flex;
    height: 100vh;
    padding: 20px 20px;
    flex-direction: column;
    transition: .8s;
    padding-top: 0; }
    .chat__box.video_active {
      margin-top: 279px;
      height: calc(100vh - 279px); }
  .chat__msgs {
    flex: 1;
    overflow-y: scroll; }
    .chat__msgs::-webkit-scrollbar-track {
      background-color: #F5F5F5; }
    .chat__msgs::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5; }
    .chat__msgs::-webkit-scrollbar-thumb {
      background-color: #DDDDDD; }
  .chat__msg {
    margin: 15px 0;
    display: flex;
    flex-direction: row; }
    .chat__msg--time {
      font-size: 12px;
      color: #bbb;
      font-weight: 300; }
    .chat__msg--title {
      font-weight: bold; }
    .chat__msg--img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: rgba(51, 102, 153, 0.1); }
    .chat__msg ul {
      list-style: none;
      margin-left: 20px; }
  .chat__input {
    justify-self: flex-end; }
    .chat__input input {
      padding: 10px 20px;
      width: 100%; }

.user_list {
  width: 20vw;
  text-align: center;
  color: #aaa;
  background: #333333; }
  .user_list__title h3 {
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #fff; }
  .user_list__title p {
    letter-spacing: 1px;
    font-size: 12px; }
  .user_list__users {
    text-align: left;
    list-style: none; }
    .user_list__users li {
      margin-left: 15px;
      margin-top: 15px;
      font-weight: bold;
      letter-spacing: 1px;
      cursor: pointer;
      transition: .15s; }
      .user_list__users li:hover {
        color: #fff; }
      .user_list__users li:before {
        content: '';
        display: inline-block;
        margin-right: 15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #369;
        vertical-align: middle;
        border: 4px solid #2a2; }

.video {
  transform: translateY(-400px);
  background: #eee;
  transition: 1s;
  height: 0; }
  .video__box {
    padding: 50px;
    opacity: 0.1; }
    .video__box--local {
      height: 70px; }
    .video__box--remote {
      height: 150px; }
  .video__wrap {
    text-align: center;
    background: #ddd; }
  .video.active {
    transform: translateY(0); }
  .video video {
    background: #eee; }

.login {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  transition: 1s;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .login.active {
    opacity: 1;
    visibility: visible;
    background: rgba(51, 51, 51, 0.5); }
  .login__box {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    color: #fff; }
  .login input {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #eee;
    font-size: 48px;
    outline: none;
    color: #fff; }
