* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
}